.container {
    background-color: grey;
}

.answer {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.answer.selected {
    background-color: yellow;
    border-color: yellow;
    
}

.correct {
    background-color: green;
    border-color: green;
}

div {
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

@media only screen and (min-width: 600px) {
    .answer:hover {
        background-color: teal;
        border: 3px;
        border-color: black;
    }
}