.container {
    background-color: grey;
}

.answer {
    margin-top: 5px;
    margin-bottom: 5px;
}

.answer:hover {
    background-color: teal;
    border: 3px;
    border-color: black;
}

div.answer.selected {
    background-color: yellow;
    border-color: yellow;
}


.correct {
    background-color: green;
    border-color: green;
}

.correct:hover {background-color: green;}

.container {
    display: flex;
}