.answer:hover {
    background-color: teal;
    border: 3px;
    border-color: black;
};

.selected {
    background-color: yellow;
}

.selected:hover {
    background-color: yellow;
}
.selected:active {
    background-color: yellow;
}
selected:focus {
    background-color:yellow;
}

.correct {
    background-color: green;
}

.correct:hover {background-color: green;}

.container {
    display: flex;
}